backend/functions/utils/serviceAccountKey.json
backend/functions/ai/vision/visionClientServiceAccountKey.json
backend/functions/ai/json/packagingTypes.json
backend/functions/ai/vision/not-used-functions
